@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-moncq-white: #ffffff;
  --color-moncq-pink: #ffcccc;
  --color-moncq-maroon: #993333;
  --color-moncq-black: #333333;
}
